.nav-link{
    background-color: transparent !important;
    margin: 0 5px;
    border: 5px;
    
}

.nav-link:hover{
    color: white !important;
}


.containerL{
    width: 30vw;
    background-color: transparent;
    height: 60vh;
    margin-right: 3%;
    position: relative;
}

.containerLUsed{
    width: 30vw;
    background-color: gray;
    height: 60vh;
    margin-right: 3%;
    position: relative;
}

@media screen and (max-width:500px) {
    .containerL{
        background-color: transparent;
    }
    .containerLUsed{
        background-color: gray;
        height: 60vh;
        margin-right: 3%;
        position: relative;
        width: 30vw;

    }
}

.projects{
    font-size: 2rem !important; 
}

#lightnovelProject{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 2rem;

}
#gradientContainer{
    background: rgb(33,37,41);
    background: linear-gradient(90deg, rgba(33,37,41,0) 0%, rgba(33,37,41,1) 20%, rgba(33,37,41,1) 80%, rgba(33,37,41,0) 100%);

}

.elementToView{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#pincodeProject{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 3%;
    font-size: 2rem;
}

@media screen and (max-width:800px) {
    #pincodeProject{
        font-size: 100%;
    }
    #lightnovelProject{
        font-size: 100%;
    }
    .projectButton{
        font-size: 100% !important;
    }
    

}

@media screen and (max-width:1000px) {
    #projectName{
        font-size: 100% !important;
    }
}

@media screen and (max-width:500px) {
    #projectName{
        font-size: 70% !important;
    }
}

.selected{
    margin-left: 200%;
    z-index: 1000px !important;
    transition: 0.5s ease-in-out;
    color: gray;
    top: 20px;
}

#Name{
    border: none !important;
    background-color: transparent !important;
    margin-right: 65%; 
    margin-left: 1%;
}
#Name:hover{
    color: black;
}

#projectText{
    background-color: gray;
}

.projectDesc{
    color: transparent;
}

#projectName{
    transition: 1s ease-in-out;
    color: black;
    margin-top: 2%;
    font-size: 2rem;
    margin-left: 2%;
}

#aboutMe{
    margin-top: 10%;
    font-size: 2.5rem;
}

.projectButton{
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    margin-bottom: 4%;

}

.projectButton:hover{
    color: gray;
}

.Graident{
    background: rgb(33,37,41);
    background: linear-gradient(90deg, rgba(33,37,41,0) 0%, rgba(33,37,41,1) 50%, rgba(33,37,41,0) 100%);;
}


.Wrapper{
    margin-top: 5%;
}

#projectNameContainer{
    background-color: transparent;
}

.projectDescription{
    opacity: 1;
    transition: 1s ease-in-out;
    color: white;
    margin-left: 2%;
    position: relative;
    font-size: 150%;

    @media screen and (max-width:1200px) {
        font-size:120%;
    }
    @media screen and (max-width:700px) {
        font-size:95%;
    }
    @media screen and (max-width:600px) {
        font-size: 80%;
    }
    @media screen and (max-width:500px) {
        font-size:70%;
    }
    @media screen and (max-width:350px) {
        font-size:60%;
    }
}

.githubIcon{
    cursor: pointer;
    color: black;
    margin-left: 2%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    font-size: 2rem !important;  
}



.textActive{
    transition: 0.5s ease-in-out;

    color: white !important;
    margin-left: 125%;
}