.nav-link{
    background-color: transparent !important;
    margin: 0 5px;
    border: 5px;
}

.nav-link:hover{
    color: white !important;
}

.container-sm{
    background-color: transparent;
    margin-top: 5%;   
    height: 70vh;
    width: 40vw !important;
    position: absolute;
    left: 3%;
}

#lightnovelProject{
    margin-top: 2%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    width: 13vw;
}

#pincodeProject{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 3%;
    width: 6.5vw;
}

.selected{
    margin-left: 50%;
    transition: 0.5s ease-in-out;
    color: black;
}

#Name{
    border: none !important;
    background-color: transparent !important;
}
#Name:hover{
    color: black;
}