.nav-link{
    background-color: transparent !important;
    margin: 0 5px;
    border: 5px;
}

.nav-link:hover{
    color: white !important;
}

.container-sm{
    background-color: red;
    margin-top: 5%;   
}

.ThemeButton{
    right: 1%;
}

